<html>
  <title>Stock trading</title>
  <link rel="stylesheet" href="/css/action.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<head>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Portfolio Manager</a>
    </div>
    <ul class="nav navbar-nav">
      <li id="profile"><a href="/profile/<%= key %>">Dashboard</a></li>
      <li id="buy" ><a href="/buy/<%= key %>">Buy</a></li>
      <li id="sell" ><a href="/sell/<%= key %>">Sell</a></li>
      <li id="quote" ><a href="/quote/<%= key %>">Quote</a></li>
      <li id="history" ><a href="/history/<%= key %>">History</a></li>
      <li id="logout"><a href ="/logout/<%= key %>">Logout</a></li>
    </ul>
  </div>
</nav>
</head>

<body>
    <center>
      <% if (inc!="") {%>
        <h1>Price of <%= inc %> share is $<%= price %></h1>
        <h2>Hence <%= quantity %> shares will cost $<%= quantity*price %></h2>
        <br>
      <%}%>
    <form action="/quote/<%= key %>" method="post">
      <div class="form-group">
        <label>Search for Stock Name: </label>
            <select name = "chosenStockName">
                <% for(var i = 0; i < shares.length; i++) { %>
                    <option value="<%= shares[i].stockName %>"> <%= shares[i].stockName %> </option>
                <% } %>
          <input autocomplete="off" autofocus class="form-control" name="stockUnits" placeholder="Stock-Units" type="text"/>
      </div>
      <button class="btn btn-primary" type="submit">Quote</button>
    </form>
  </center>
</body>

</html>
