<html>
   <title>Stock trading</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/action.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
<head>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Portfolio Manager</a>
    </div>
    <ul class="nav navbar-nav">
      <li id="profile"><a href="/profile/<%= userID %>">Dashboard</a></li>
      <li id="buy" ><a href="/buy/<%= userID %>">Buy</a></li>
      <li id="sell" ><a href="/sell/<%= userID %>">Sell</a></li>
      <li id="quote" ><a href="/quote/<%= userID %>">Quote</a></li>
      <li id="history" ><a href="/history/<%= userID %>">History</a></li>
      <li id="watchlist" ><a href="/watchlist/<%= userID %>">Watchlist</a></li>
      <li id="discussion" ><a href="/discussion/<%= userID %>">Discussion</a></li>
      <li id="logout"><a href ="/logout/<%= userID %>">Logout</a></li>
    </ul>
  </div>
</nav>
</head>

<body>
    <center>
        <h1> <%= username %> start selling stocks !!!</h1>
        <% if (statusMessage !=="") {%>
          <h1> <%= statusMessage %></h1>
        <%}%>
        <form action="/sell/<%= userID %>" method="POST">
          <div class = "form-group">
            <label>Name: </label>
            <select name = "chosenStockID">
                <% for(var i = 0; i < stocks.length; i++) { %>
                    <option value="<%= stocks[i].stockID %>"> <%= stocks[i].stockName %> </option>
                <% } %>
                <input autocomplete="off" autofocus class="form-control" name="sharesSold" placeholder="# of Shares" type="number" min="1"/>
                <button class="btn btn-default" type="submit">Sell</button>
          </div>
      </form>
    </center>
</body>

</html>
